/* General */
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  line-height: 28px;
}
@media screen and (max-width: 755px) {
  body {
    color: #000;
    background-color: #fff;
  }
}

/* Titles and text styling */
.link { color: mediumblue; }
.link:hover { text-decoration: none; }
@media screen and (max-width: 755px) {
  .link {
    font-size: 18px;
    line-height: 22px;
  }
}

/* Design elements */
.container { }
.wrapper {
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 50px;
}
@media screen and (max-width: 755px) {
  .wrapper { padding: 0px; }
}
.table {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.table-cell {
  display: table-cell;
  float: none;
}
.table-left { width: 33.333%; }
.table-right { width: 66.666%; }
@media screen and (max-width: 755px) {
  .table-cell { display: block; }
  .table-left,
  .table-right {
    width: 100%;
    text-align: center;
  }
}
.full { width: 100%; }
.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }
.frame {
  margin: 0 auto;
  max-width: 800px;
}
::-webkit-scrollbar { display: none; }
img {
  width: 100%;
  max-height: 400px;
}

/* Header, title and navbar */
#header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100px;
  padding: 30px 0 0;
}
@media screen and (max-width: 755px) {
  #header {
    position: relative;
    height: auto;
    padding: 0;
  }
}
@media screen and (max width: 480px) {
  #header {
    margin-bottom: 100px;
  }
}
.home { display: block; }
.logo { display: none; }
@media screen and (max-width: 755px) {
  .home {
    display: none;
    height: 0;
    color: transparent;
  }
  .logo {
    display: block;
    margin: 30px auto 0;
    max-width: 400px;
  }
}
#nav {
  display: block;
  text-align: right;
}
#nav li {
  display: inline-block;
  padding: 15px;
  list-style: none;
  cursor: pointer;
}
#nav li a { color: #000; }
@media screen and (max-width: 755px) {
  #nav {
    padding: 0;
    text-align: center;
  }
  li {
    display: block;
    font-size: 24px;
    }
  li a {
    color: #000;
    text-decoration: underline;
  }
  #work,
  #blog {
    margin: 0 auto;
    width: 100vw;
  }
}

/* Content */
#content { color: #000; } /* #fff */
.about {
  position: absolute;
  top: 150px;
  left: -webkit-calc( (100vw - 1050px) / 2 );
  left: -moz-calc( (100vw - 1050px) / 2 );
  left: calc( (100vw - 1050px) / 2 );
  right: -webkit-calc( (100vw - 1050px) / 2 );
  right: -moz-calc( (100vw - 1050px) / 2 );
  right: calc( (100vw - 1050px) / 2 );
  z-index: 5;
  display: none;
  background: #fff; /* #000 */
  border: 3px solid; /* edit */
}
.about:after {
  position: absolute;
  bottom: -70px;
  width: 1px;
  height: 70px;
  content: "";
}
@media screen and (max-width: 1080px) {
  .about {
    right: 20px;
    left: 20px;
  }
}
@media screen and (max-width: 755px) {
  #about {
    margin: 0 auto;
    width: 100vw;
  }
  .about {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    margin: 0;
    padding: 15px;
    color: #000;
    background-color: #fff;
    border: none;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
  }
  .about p {
    padding-left: 0;
    padding-right: 0;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
  }
}
.info { padding: 50px 0 0; }
.social { padding: 15px 40px 60px; }
.social li {
  display: inline-block; /* edit */
  padding: 2px;
  color: #000;
  list-style: none;
}
.social li:before {
  padding: 0 5px;
  content: '☓';
}
.social li a {
  color: #000;
  text-decoration: none; /* underline */
  border-bottom: 3px solid; /* edit */
}
.social li a:hover {
  color: #fff; /* #000 */
  background-color: #000; /* edit */
  border-bottom: 3px solid #000; /* edit */
}
@media screen and (max-width: 755px) {
  .social li {
    display: block;
  }
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 15px;
  color: #000; /* #000 */
  font-size: 24px;
  font-weight: bolder;
  background: #fff; /* #fff */
  cursor: pointer;
}
@media screen and (max-width: 755px) {
  .close {
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* Four tiles */
#top-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 50vh;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#top-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 50vw;
  height: 50vh;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50vw;
  height: 50vh;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#bottom-right {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 50vw;
  height: 50vh;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 755px) {
  #top-left,
  #top-right,
  #bottom-left,
  #bottom-right {
    display: none;
  }
}

/* Footer */
#footer {
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: 100vw;
}
@media screen and (max-width: 755px) {
  #footer { display: none; }
  #footer p { font-size: 24px; }
}

/* Joes Roosens - jsrsns.be */
