body {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  line-height: 28px;
}

.top-left {
  background-color: #fff;
  position: fixed;
  width: 50vw;
  height: 50vh;
}
.top-right {
  background-color: #fff;
  position: fixed;
  width: 50vw;
  height: 50vh;
  right: 0;
}
.bottom-left {
  background-color: #fff;
  position: fixed;
  width: 50vw;
  height: 50vh;
  bottom: 0;
}
.bottom-right {
  background-color: #fff;
  position: fixed;
  width: 50vw;
  height: 50vh;
  right: 0;
  bottom: 0;
}
.icons {
  margin: auto;
  display: block;
  padding: 15%;
}
.icons img {
  max-width: 100%;
  height: auto;
}
