/* General */

body {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  line-height: 28px;
}

/* Titles and text */

h1 {
}
h2 {
}
p {
}

/* Design elements */

.container {
}
.wrapper {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 50px;
}
.table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.table-cell {
  float: none;
  display: table-cell;
}
.full {
  width: 100%;
}
.center {
  text-align: center;
}
.left {
  width: 33.333%;
}
.right {
  width: 66,666%;
}
.frame {
  max-width: 800px;
  margin: 0 auto;
}

/* Header, title and navbar */

#header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100px;
  padding: 30px 0 0;
  z-index: 2;
}
.home {
  display: block;
}
.logo {
  display: none;
}
#nav {
  display: block;
  text-align: right;
}
#nav li {
  display: inline-block;
  list-style: none;
  padding: 15px;
  cursor: pointer;
}
#nav li a {
  color: #000;
}
/* Content */
#content {
  color: #fff;
}
.about {
  position: absolute;
  display: none;
  top: 150px;
  left: -webkit-calc( (100vw - 1050px) / 2 );
  left: -moz-calc( (100vw - 1050px) / 2 );
  left: calc( (100vw - 1050px) / 2 );
  right: -webkit-calc( (100vw - 1050px) / 2 );
  right: -moz-calc( (100vw - 1050px) / 2 );
  right: calc( (100vw - 1050px) / 2 );
  z-index: 5;
  background: #000;
}
.about:after {
  position: absolute;
  content: "";
  bottom: -70px;
  height: 70px;
  width: 1px;
}
.info {
  padding: 50px 0 0;
}
.social {
  padding: 15px 40px 60px;
}
.social li {
  color: #fff;
  list-style: none;
  padding: 2px;
}
.social li:before {
  content: '☓';
  padding: 0 5px;
}
.social li a {
  color: #fff;
  text-decoration: underline;
}
.social li a:hover {
  text-decoration: none;
}
.close {
  color: #fff;
  background: #000;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  font-size: 24px;
  font-weight: bolder;
  padding: 15px;
  cursor: pointer;
  z-index: 10;
}

/* Four tiles */

#top-left {
  background: transparent center/contain no-repeat;
  position: fixed;
  width: 50vw;
  height: 50vh;
  top: 0;
  left: 0;
}
#top-right {
  background: transparent center/contain no-repeat;
  position: fixed;
  width: 50vw;
  height: 50vh;
  top: 0;
  right: 0;
}
#bottom-left {
  background: transparent center/contain no-repeat;
  position: fixed;
  width: 50vw;
  height: 50vh;
  bottom: 0;
  left: 0;
}
#bottom-right {
  background: transparent center/contain no-repeat;
  position: fixed;
  width: 50vw;
  height: 50vh;
  right: 0;
  bottom: 0;
}

/* Footer */

#footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 2;
}

/* Responsive */

/* Joes Roosens - jsrsns.be */
